{{ define "main" }}


        {{ partial "navbarall.html" . }}


     <section class="page-header page-header--details">
    <div class="page-header__bg"></div>
    <div class="container">

        <h2 class="page-header__title">{{ .Title }}</h2>

        <ul class="growim-breadcrumb list-unstyled">
            <li><a href="{{ "/" | relURL }}">Home</a></li>
            <li><span>Service Details</span></li>
            <li><span>{{ .Title }}</span></li>
        </ul>

    </div>
</section>

        <section class="service-details">
            <div class="container">
                <div class="row gutter-y-60">
                    <div class="col-md-12 col-lg-4">
                        <div class="service-sidebar">
                            <div class="service-sidebar__single">
                                <h3 class="service-sidebar__title">All Services</h3>
                                <ul class="list-unstyled service-sidebar__nav">
                                    <li><a href="service-details.html">Web Development</a></li>
                                    <li><a href="service-details.html">Content Marketing</a></li>
                                    <li class="current"><a href="service-details.html">Social Media Marketing</a></li>
                                    <li><a href="service-details.html">Affiliate Marketing</a></li>
                                    <li><a href="service-details.html">Search Engine Marketing (SEM)</a></li>
                                </ul><!-- /.list-unstyled service-sidebar__nav -->
                            </div><!-- /.service-sidebar__single -->
                            <div class="service-sidebar__single">
                                <h3 class="service-sidebar__title">Opening Hours</h3>
                                <ul class="list-unstyled service-sidebar__info">
                                    <li><i class="flaticon-time"></i>Mon - Sat: 10.00 AM - 4.00 PM</li>
                                    <li><i class="flaticon-time"></i>Sun: 09.00 AM - 4.00 PM</li>
                                    <li><i class="flaticon-time"></i>Friday: Closed</li>
                                </ul><!-- /.list-unstyled service-sidebar__info -->
                                <a class="service-sidebar__btn" href="{{ "contact" | relURL }}">Appointment Now <i class="flaticon-long-arrow-right"></i></a>
                            </div><!-- /.service-sidebar__single -->
                            <div class="service-sidebar__single service-sidebar__contact text-center" style="background-image: url(assets/images/portfolio/portfolio-details-contact-bg.jpg);">
                                <div class="service-sidebar__contact__icon">
                                    <i class="flaticon-phone"></i>
                                </div>
                                <p class="service-sidebar__contact__number">
                                    <span>Need Help? Call Here</span>
                                    <a href="tel:+2085550112">+208-555-0112</a>
                                </p>
                            </div>
                        </div><!-- /.sidebar -->
                    </div><!-- /.col-md-12 col-lg-4 -->
                    <div class="col-md-12 col-lg-8">
                        <div class="service-details__content">
                            <div class="service-details__thumbnail">
                                <img src="{{ .Params.blogimg | relURL }}" alt="{{ .Title }}">
                            </div><!-- /.service-details__thumbnail -->
                            <h3 class="service-details__title">{{ .Title }}</h3>
                            <!-- /.service-details__title -->
                            <p class="service-details__text">
                               {{ .Content }}
                            </p><!-- /.service-details__text -->
                        </div><!-- /.service-details__content -->
                    </div><!-- /.col-md-12 col-lg-8 -->
                </div><!-- /.row -->
            </div>
        </section>

  

{{ end }}