{{ $cfg     := site.Data.blog }}
{{ $section := site.GetPage "/blog" }}
{{ $limit   := $cfg.home_limit | default 3 }}
{{ $posts   := first $limit (sort $section.Pages "Date" "desc") }}

<section class="blog-one">
    <div class="blog-one__shape-one" style="background-image: url('{{ "/assets/images/shapes/blog-1-shape-1.png" | relURL }}');"></div>
    <div class="blog-one__shape-two" style="background-image: url('{{ "/assets/images/shapes/blog-1-shape-2.png" | relURL }}');"></div>
    <div class="blog-one__shape-three" style="background-image: url('{{ "/assets/images/shapes/blog-1-shape-3.png" | relURL }}');"></div>
    <div class="blog-one__shape-four" style="background-image: url('{{ "/assets/images/shapes/blog-1-shape-4.png" | relURL }}');"></div>

    <div class="container">
        <div class="blog-one__top">
            <div class="sec-title text-left">
                <h6 class="sec-title__tagline">{{ $cfg.section.tagline }}</h6>
                <h3 class="sec-title__title">{{ $cfg.section.title }}</h3>
            </div>
            <a class="growim-btn growim-btn--white" href="{{ "/blog/" | relURL }}">
                <span class="growim-btn__text">{{ $cfg.section.button_text }}</span>
                <span class="growim-btn__icon"><i class="flaticon-up-right-arrow"></i></span>
            </a>
        </div>

        <div class="blog-one__carousel growim-owl__carousel growim-owl__carousel--with-shadow growim-owl__carousel--basic-nav owl-carousel owl-theme" data-owl-options='{
            "items": 1,
            "margin": 30,
            "loop": false,
            "smartSpeed": 700,
            "nav": true,
            "navText": ["<span class=\"flaticon-long-arrow-left\"></span>","<span class=\"flaticon-long-arrow-right\"></span>"],
            "dots": false,
            "autoplay": false,
            "responsive": {
                "0":   { "items": 1 },
                "768": { "items": 2 },
                "992": { "items": 3 }
            }
        }'>
            {{ range $i, $post := $posts }}
            {{ $delay := mul $i 100 }}
            <div class="item">
                <div class="blog-card wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="{{ $delay }}ms">
                    <div class="blog-card__image">
                        {{ $img := $post.Params.image | default "/assets/images/blog/blog-1-1.png" }}
                        <img src="{{ $img | relURL }}" alt="{{ $post.Title }}" loading="{{ if eq $i 0 }}eager{{ else }}lazy{{ end }}">
                        <img src="{{ $img | relURL }}" alt="{{ $post.Title }}" loading="{{ if eq $i 0 }}eager{{ else }}lazy{{ end }}">
                        <a href="{{ $post.RelPermalink }}" class="blog-card__image__link">
                            <span class="sr-only">{{ $post.Title }}</span>
                        </a>
                    </div>
                    <div class="blog-card__content">
                        <div class="blog-card__meta">
                            {{ with $post.Params.category }}
                            <a class="blog-card__meta__cat" href="{{ "/blog/" | relURL }}">{{ . }}</a>
                            {{ end }}
                            <div class="blog-card__meta__date">{{ $post.Date.Format "January 2, 2006" }}</div>
                        </div>
                        <h3 class="blog-card__title"><a href="{{ $post.RelPermalink }}">{{ $post.Title }}</a></h3>
                        <div class="blog-card__bottom">
                            <div class="blog-card__author">
                                <img src="{{ "/assets/images/favicons/apple-touch-ad-najah.png" | relURL }}" alt="Ad Najah">
                                <div class="blog-card__author__content">
                                    <span><a href="{{ "/blog/" | relURL }}">Ad Najah</a></span>
                                    {{ $post.Params.author | default "Ad Najah" }}
                                </div>
                            </div>
                            <a href="{{ $post.RelPermalink }}" class="blog-card__link">
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}

        </div>
    </div>
</section>