<section class="package-one">
    <div class="package-one__shape-one" style="background-image: url('{{ "/assets/images/shapes/package-1-shape-1.png" | relURL }}');"></div>
    <div class="package-one__shape-two" style="background-image: url('{{ "/assets/images/shapes/package-1-shape-2.png" | relURL }}');"></div>
    <div class="package-one__shape-three" style="background-image: url('{{ "/assets/images/shapes/package-1-shape-3.png" | relURL }}');"></div>
    <div class="package-one__shape-four" style="background-image: url('{{ "/assets/images/shapes/package-1-shape-4.png" | relURL }}');"></div>

    <div class="container">
        <div class="sec-title text-center">
            <h6 class="sec-title__tagline">{{ site.Data.pricing.section_tagline }}</h6>
            <h3 class="sec-title__title">{{ site.Data.pricing.section_title }}</h3>
        </div>

        <div class="row gutter-y-30">
            {{ range site.Data.pricing.plans }}
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="{{ .delay }}">
                <div class="package-one__item">
                    <div class="package-one__item__inner">
                        <div class="package-one__item__price">{{ .price }} <span>{{ .period }}</span></div>
                        <h5 class="package-one__item__title">{{ .title }}</h5>
                        <p class="package-one__item__text">{{ .text }}</p>

                        <ul class="package-one__item__list">
                            {{ range .features }}
                            <li><i class="flaticon-check"></i>{{ . }}</li>
                            {{ end }}
                        </ul>

                        <a class="growim-btn" href="{{ .button_url | relURL }}">
                            <span class="growim-btn__text">{{ .button_text }}</span>
                        </a>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>