        <section class="package-one">
            <div class="package-one__shape-one" style="background-image: url(assets/images/shapes/package-1-shape-1.png);"></div>
            <div class="package-one__shape-two" style="background-image: url(assets/images/shapes/package-1-shape-2.png);"></div>
            <div class="package-one__shape-three" style="background-image: url(assets/images/shapes/package-1-shape-3.png);"></div>
            <div class="package-one__shape-four" style="background-image: url(assets/images/shapes/package-1-shape-4.png);"></div>
            <div class="container">
                <div class="sec-title text-center">

                    <h6 class="sec-title__tagline">OUR PRICING PLAN</h6><!-- /.sec-title__tagline -->

                    <h3 class="sec-title__title">Choose Your Pricing Plan</h3><!-- /.sec-title__title -->
                </div><!-- /.sec-title -->
                <div class="row gutter-y-30">
                    <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="000ms">
                        <div class="package-one__item">
                            <div class="package-one__item__inner">
                                <div class="package-one__item__price">$49 <span>Par month</span></div><!-- /.package-card__price -->
                                <h5 class="package-one__item__title">Business</h5>
                                <p class="package-one__item__text">
                                    Integer sapien nec sapien sollicitudin ultrices Cras tempor id lorem et
                                </p>
                                <ul class="package-one__item__list">
                                    <li><i class="flaticon-check"></i>Branding and design Identity</li>
                                    <li><i class="flaticon-check"></i>Web site Marketing Solutions</li>
                                    <li><i class="flaticon-check"></i>Setup & Onboarding</li>
                                    <li><i class="flaticon-check"></i>24/7 system Monitoring</li>
                                    <li><i class="flaticon-check"></i>Awesome Consulting</li>
                                </ul>
                                <a class="growim-btn" href="contact.html">
                                    <span class="growim-btn__text">Get The Plan Nows</span>
                                </a>
                            </div>
                        </div><!-- /.package-card -->
                    </div><!-- /.col-md-6 col-lg-4 -->
                    <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="100ms">
                        <div class="package-one__item">
                            <div class="package-one__item__inner">
                                <div class="package-one__item__price">$99 <span>Par month</span></div><!-- /.package-card__price -->
                                <h5 class="package-one__item__title">Company</h5>
                                <p class="package-one__item__text">
                                    Integer sapien nec sapien sollicitudin ultrices Cras tempor id lorem et
                                </p>
                                <ul class="package-one__item__list">
                                    <li><i class="flaticon-check"></i>Branding and design Identity</li>
                                    <li><i class="flaticon-check"></i>Web site Marketing Solutions</li>
                                    <li><i class="flaticon-check"></i>Setup & Onboarding</li>
                                    <li><i class="flaticon-check"></i>24/7 system Monitoring</li>
                                    <li><i class="flaticon-check"></i>Awesome Consulting</li>
                                </ul>
                                <a class="growim-btn" href="contact.html">
                                    <span class="growim-btn__text">Get The Plan Nows</span>
                                </a>
                            </div>
                        </div><!-- /.package-card -->
                    </div><!-- /.col-md-6 col-lg-4 -->
                    <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="200ms">
                        <div class="package-one__item">
                            <div class="package-one__item__inner">
                                <div class="package-one__item__price">$149 <span>Par month</span></div><!-- /.package-card__price -->
                                <h5 class="package-one__item__title">Agency</h5>
                                <p class="package-one__item__text">
                                    Integer sapien nec sapien sollicitudin ultrices Cras tempor id lorem et
                                </p>
                                <ul class="package-one__item__list">
                                    <li><i class="flaticon-check"></i>Branding and design Identity</li>
                                    <li><i class="flaticon-check"></i>Web site Marketing Solutions</li>
                                    <li><i class="flaticon-check"></i>Setup & Onboarding</li>
                                    <li><i class="flaticon-check"></i>24/7 system Monitoring</li>
                                    <li><i class="flaticon-check"></i>Awesome Consulting</li>
                                </ul>
                                <a class="growim-btn" href="contact.html">
                                    <span class="growim-btn__text">Get The Plan Nows</span>
                                </a>
                            </div>
                        </div><!-- /.package-card -->
                    </div><!-- /.col-md-6 col-lg-4 -->
                </div>
            </div>
        </section>
        <!-- /.package-one -->