    <!-- serv clientK Start -->
         <section class="counter-two">
            <div class="counter-two__bg wow fadeInRight" style="background-image: url(''{{ "assets/images/backgrounds/page-header-bg-1-1.jpg" | relURL }}'');"></div>
            <div class="container">
                <ul class="counter-two__counter">
                    {{ range $i, $stat := site.Data.home.stats }}
                    <li class="count-box wow fadeInUp" data-wow-delay="{{ mul (add $i 1) 50 }}ms">
                        <div class="counter-two__counter__icon"><span class="{{ $stat.icon }}"></span></div>
                        <div class="counter-two__counter__number">
                            <span class="count-text" data-stop="{{ $stat.number }}" data-speed="1500"></span>+
                        </div>
                        <p class="counter-two__counter__text">{{ $stat.label }}</p>
                    </li><!-- item -->
                    {{ end }}
                </ul>
            </div>
        </section>
        <!-- serv client end -->
