    <!-- serv clientK Start -->
         <section class="counter-two">
            <div class="counter-two__bg wow fadeInRight" style="background-image: url('{{ "assets/images/backgrounds/page-header-bg-1-1.jpg" | relURL }}');"></div>
            <div class="container">
                <ul class="counter-two__counter">
                    <li class="count-box wow fadeInUp" data-wow-delay="100ms">
                        <div class="counter-two__counter__icon"><span class="flaticon-client"></span></div>
                        <div class="counter-two__counter__number">
                            <span class="count-text" data-stop="200" data-speed="1500"></span>+
                        </div>
                        <p class="counter-two__counter__text">Satisfied Clients</p>
                    </li><!-- item -->
                    <li class="count-box wow fadeInUp" data-wow-delay="150ms">
                        <div class="counter-two__counter__icon"><span class="flaticon-seo"></span></div>
                        <div class="counter-two__counter__number">
                            <span class="count-text" data-stop="300" data-speed="1500"></span>+
                        </div>
                        <p class="counter-two__counter__text">Finished Projects</p>
                    </li><!-- item -->
                    <li class="count-box wow fadeInUp" data-wow-delay="200ms">
                        <div class="counter-two__counter__icon"><span class="flaticon-marketing"></span></div>
                        <div class="counter-two__counter__number">
                            <span class="count-text" data-stop="10" data-speed="1500"></span>+
                        </div>
                        <p class="counter-two__counter__text">Skilled Experts</p>
                    </li><!-- item -->
                    <li class="count-box wow fadeInUp" data-wow-delay="250ms">
                        <div class="counter-two__counter__icon"><span class="flaticon-media"></span></div>
                        <div class="counter-two__counter__number">
                            <span class="count-text" data-stop="100" data-speed="1500"></span>+
                        </div>
                        <p class="counter-two__counter__text">Media Posts</p>
                    </li>
                    
                    <!-- item -->
                </ul>
            </div>
        </section>
        <!-- serv client end -->