       <section class="team-one">
            <div class="team-one__shape-one" style="background-image: url('{{ "/assets/images/shapes/team-1-shape-1.png" | relURL }}');"></div>
            <div class="team-one__shape-two" style="background-image: url('{{ "/assets/images/shapes/blog-1-shape-1.png" | relURL }}');"></div>
            <div class="team-one__shape-three" style="background-image: url('{{ "/assets/images/shapes/team-1-shape-3.png" | relURL }}');"></div>
            <div class="team-one__shape-four" style="background-image: url('{{ "/assets/images/shapes/team-1-shape-4.png" | relURL }}');"></div>
            <div class="team-one__shape-five" style="background-image: url('{{ "/assets/images/shapes/team-1-shape-5.png" | relURL }}');"></div>
            <div class="team-one__shape-six" style="background-image: url('{{ "/assets/images/shapes/team-1-shape-6.png" | relURL }}');"></div>
            <div class="container">
                <div class="sec-title text-center">

                    <h6 class="sec-title__tagline">Our Team</h6><!-- /.sec-title__tagline -->

                    <h3 class="sec-title__title">Make Brand Identities From<br> Scratch And Help</h3><!-- /.sec-title__title -->
                </div><!-- /.sec-title -->
                <div class="team-one__carousel growim-owl__carousel growim-owl__carousel--with-shadow growim-owl__carousel--basic-nav owl-carousel owl-theme" data-owl-options='{
				"items": 1,
				"margin": 30,
				"loop": false,
				"smartSpeed": 700,
				"nav": true,
				"navText": ["<span class=\"flaticon-long-arrow-left\"></span>","<span class=\"flaticon-long-arrow-right\"></span>"],
				"dots": false,
				"autoplay": false,
				"responsive": {
					"0": {
						"items": 1
					},
					"500": {
						"items": 2
					},
					"992": {
						"items": 3
					},
					"1200": {
						"items": 4
					}
				}
			}'>
                    <div class="item">
                        <div class="team-card wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='000ms'>
                            <div class="team-card__image">
                                <img src="{{ "/assets/images/team/team-1-1.jpg" | relURL }}" alt="Wade Warren">
                            </div><!-- /.team-card__image -->
                            <div class="team-card__content">
                                <div class="team-card__hover">
                                    <div class="team-card__social">
                                        <i class="flaticon-share"></i>
                                        <div class="team-card__social__list">
                                            <a href="https://facebook.com">
                                                <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                                <span class="sr-only">Facebook</span>
                                            </a>
                                            <a href="https://twitter.com">
                                                <i class="fab fa-twitter" aria-hidden="true"></i>
                                                <span class="sr-only">Twitter</span>
                                            </a>
                                            <a href="https://www.linkedin.com/">
                                                <i class="fab fa-linkedin-in" aria-hidden="true"></i>
                                                <span class="sr-only">Linkedin</span>
                                            </a>
                                        </div><!-- /.team-card__social__list -->
                                    </div><!-- /.team-card__social -->
                                </div><!-- /.team-card__hover -->
                                <h3 class="team-card__title">
                                    <a href="##">Wade Warren</a>
                                </h3><!-- /.team-card__title -->
                                <p class="team-card__designation">Marketing</p><!-- /.team-card__designation -->
                            </div><!-- /.team-card__content -->
                        </div><!-- /.team-card -->
                    </div><!-- /.item -->
                    <div class="item">
                        <div class="team-card wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='100ms'>
                            <div class="team-card__image">
                                <img src="{{ "/assets/images/team/team-1-2.jpg" | relURL }}" alt="Robert Fox">
                            </div><!-- /.team-card__image -->
                            <div class="team-card__content">
                                <div class="team-card__hover">
                                    <div class="team-card__social">
                                        <i class="flaticon-share"></i>
                                        <div class="team-card__social__list">
                                            <a href="https://facebook.com">
                                                <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                                <span class="sr-only">Facebook</span>
                                            </a>
                                            <a href="https://twitter.com">
                                                <i class="fab fa-twitter" aria-hidden="true"></i>
                                                <span class="sr-only">Twitter</span>
                                            </a>
                                            <a href="https://www.linkedin.com/">
                                                <i class="fab fa-linkedin-in" aria-hidden="true"></i>
                                                <span class="sr-only">Linkedin</span>
                                            </a>
                                        </div><!-- /.team-card__social__list -->
                                    </div><!-- /.team-card__social -->
                                </div><!-- /.team-card__hover -->
                                <h3 class="team-card__title">
                                    <a href="##">Robert Fox</a>
                                </h3><!-- /.team-card__title -->
                                <p class="team-card__designation">Web Developer</p><!-- /.team-card__designation -->
                            </div><!-- /.team-card__content -->
                        </div><!-- /.team-card -->
                    </div>
                    <!-- /.item -->
                    <div class="item">
                        <div class="team-card wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='200ms'>
                            <div class="team-card__image">
                                <img src="{{ "/assets/images/team/noor.png" | relURL }}" alt="Jenny Wilson">
                            </div>
                            <!-- /.team-card__image -->
                            <div class="team-card__content">
                                <div class="team-card__hover">
                                    <div class="team-card__social">
                                        <i class="flaticon-share"></i>
                                        <div class="team-card__social__list">
                                            <a href="https://facebook.com">
                                                <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                                <span class="sr-only">Facebook</span>
                                            </a>
                                            <a href="https://twitter.com">
                                                <i class="fab fa-twitter" aria-hidden="true"></i>
                                                <span class="sr-only">Twitter</span>
                                            </a>
                                            <a href="https://www.linkedin.com/">
                                                <i class="fab fa-linkedin-in" aria-hidden="true"></i>
                                                <span class="sr-only">Linkedin</span>
                                            </a>
                                        </div><!-- /.team-card__social__list -->
                                    </div><!-- /.team-card__social -->
                                </div><!-- /.team-card__hover -->
                                <h3 class="team-card__title">
                                    <a href="##">Ahmed Sharif Noor</a>
                                </h3><!-- /.team-card__title -->
                                <p class="team-card__designation">Branding</p><!-- /.team-card__designation -->
                            </div><!-- /.team-card__content -->
                        </div>
                        <!-- /.team-card -->
                    </div>
                    <!-- /.item -->
                    <div class="item">
                        <div class="team-card wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='300ms'>
                            <div class="team-card__image">
                                <img src="{{ "/assets/images/team/team-1-4.jpg" | relURL }}" alt="Jacob Jones">
                            </div><!-- /.team-card__image -->
                            <div class="team-card__content">
                                <div class="team-card__hover">
                                    <div class="team-card__social">
                                        <i class="flaticon-share"></i>
                                        <div class="team-card__social__list">
                                            <a href="https://facebook.com">
                                                <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                                <span class="sr-only">Facebook</span>
                                            </a>
                                            <a href="https://twitter.com">
                                                <i class="fab fa-twitter" aria-hidden="true"></i>
                                                <span class="sr-only">Twitter</span>
                                            </a>
                                            <a href="https://www.linkedin.com/">
                                                <i class="fab fa-linkedin-in" aria-hidden="true"></i>
                                                <span class="sr-only">Linkedin</span>
                                            </a>
                                        </div><!-- /.team-card__social__list -->
                                    </div><!-- /.team-card__social -->
                                </div><!-- /.team-card__hover -->
                                <h3 class="team-card__title">
                                    <a href="##">Jacob Jones</a>
                                </h3><!-- /.team-card__title -->
                                <p class="team-card__designation">Marketing</p><!-- /.team-card__designation -->
                            </div><!-- /.team-card__content -->
                        </div><!-- /.team-card -->
                    </div><!-- /.item -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section>
        
        <!-- /.team-one -->