<section class="testimonials-one">
    <div class="testimonials-one__shape-one"
        style="background-image: url('{{ "/assets/images/shapes/testimonials-1-shape-1.png" | relURL }}');"></div>
    <div class="testimonials-one__shape-two"
        style="background-image: url('{{ "/assets/images/shapes/testimonials-1-shape-2.png" | relURL }}');"></div>
    <div class="testimonials-one__shape-three"
        style="background-image: url('{{ "/assets/images/shapes/testimonials-1-shape-3.png" | relURL }}');"></div>
    <div class="testimonials-one__shape-four"
        style="background-image: url('{{ "/assets/images/shapes/testimonials-1-shape-4.png" | relURL }}');"></div>

    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="100ms">
                <div class="testimonials-one__image">
                    <div class="testimonials-one__image__bg"
                        style="background-image: url('{{ "/assets/images/shapes/testimonial-1-image-bg.png" | relURL }}');"></div>
                    <img src="{{ "/assets/images/resources/testimonial-1-image.png" | relURL }}" alt="growim">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="testimonials-one__area">
                    <div class="sec-title text-left">
                        <h6 class="sec-title__tagline">{{ site.Data.testimonials.section.tagline }}</h6>
                        <h3 class="sec-title__title">{{ site.Data.testimonials.section.title }}</h3>
                    </div>

                    <div class="testimonials-one__carousel growim-owl__carousel owl-carousel" data-owl-options='{
                        "items": 1,
                        "margin": 0,
                        "loop": false,
                        "smartSpeed": 700,
                        "nav": false,
                        "navText": ["<span class=\"fa fa-angle-left\"></span>","<span class=\"fa fa-angle-right\"></span>"],
                        "dots": false,
                        "autoplay": true
                    }'>
                        {{ range site.Data.testimonials.reviews }}
                        <div class="item">
                            <div class="testimonials-one__item">
                                <div class="testimonials-one__item__rating">
                                    {{ range seq .rating }}
                                    <i class="flaticon-star"></i>
                                    {{ end }}
                                </div>

                                <div class="testimonials-one__item__content">
                                    {{ .content }}
                                </div>

                                <div class="testimonials-one__item__author">
                                    <img src="{{ .image | relURL }}" alt="{{ .name }}">
                                    <h3 class="testimonials-one__item__name">{{ .name }}</h3>
                                    <p class="testimonials-one__item__designation">{{ .designation }}</p>
                                </div>

                                <div class="testimonials-one__item__quote">
                                    <i class="flaticon-quote"></i>
                                </div>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>