       <section class="testimonials-one">
            <div class="testimonials-one__shape-one" style="background-image: url(assets/images/shapes/testimonials-1-shape-1.png);"></div>
            <div class="testimonials-one__shape-two" style="background-image: url(assets/images/shapes/testimonials-1-shape-2.png);"></div>
            <div class="testimonials-one__shape-three" style="background-image: url(assets/images/shapes/testimonials-1-shape-3.png);"></div>
            <div class="testimonials-one__shape-four" style="background-image: url(assets/images/shapes/testimonials-1-shape-4.png);"></div>
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="100ms">
                        <div class="testimonials-one__image">
                            <div class="testimonials-one__image__bg" style="background-image: url(assets/images/shapes/testimonial-1-image-bg.png);"></div>
                            <img src="assets/images/resources/testimonial-1-image.png" alt="growim">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="testimonials-one__area">
                            <div class="sec-title text-left">

                                <h6 class="sec-title__tagline">Testimonials</h6><!-- /.sec-title__tagline -->

                                <h3 class="sec-title__title">Our Services Solve Any</h3><!-- /.sec-title__title -->
                            </div><!-- /.sec-title -->
                            <div class="testimonials-one__carousel growim-owl__carousel owl-carousel" data-owl-options='{
							"items": 1,
							"margin": 0,
							"loop": false,
							"smartSpeed": 700,
							"nav": false,
							"navText": ["<span class=\"fa fa-angle-left\"></span>","<span class=\"fa fa-angle-right\"></span>"],
							"dots": false,
							"autoplay": true
						}'>
                                <div class="item">
                                    <div class="testimonials-one__item">
                                        <div class="testimonials-one__item__rating">
                                            <i class="flaticon-star"></i>
                                            <i class="flaticon-star"></i>
                                            <i class="flaticon-star"></i>
                                            <i class="flaticon-star"></i>
                                            <i class="flaticon-star"></i>
                                        </div><!-- /.testimonials-one__item__rating -->
                                        <div class="testimonials-one__item__content">
                                            Sed ante elit, fringilla vitae laoreet sit amet, tempus et libero. Lorem ipsum dolor sit amet,
                                            consectetur adipiscing elit. Fusce eget quam quis turpis lacinia euismod cursus in arcu.
                                            Integer a purus dolor. Pellentesque finibus ut erat in sagittis. Sed semper dignissim
                                        </div><!-- /.testimonials-one__item__content -->
                                        <div class="testimonials-one__item__author">
                                            <img src="assets/images/resources/testi-1-1.jpg" alt="growim">
                                            <h3 class="testimonials-one__item__name">
                                                Ronald Richards
                                            </h3>
                                            <p class="testimonials-one__item__designation">Co, Founder</p>
                                        </div><!-- /.testimonials-one__item__author -->
                                        <div class="testimonials-one__item__quote"><i class="flaticon-quote"></i></div><!-- /.testimonials-one__item__quote -->
                                    </div>
                                </div><!-- item -->
                                <div class="item">
                                    <div class="testimonials-one__item">
                                        <div class="testimonials-one__item__rating">
                                            <i class="flaticon-star"></i>
                                            <i class="flaticon-star"></i>
                                            <i class="flaticon-star"></i>
                                            <i class="flaticon-star"></i>
                                            <i class="flaticon-star"></i>
                                        </div><!-- /.testimonials-one__item__rating -->
                                        <div class="testimonials-one__item__content">
                                            Sed ante elit, fringilla vitae laoreet sit amet, tempus et libero. Lorem ipsum dolor sit amet,
                                            consectetur adipiscing elit. Fusce eget quam quis turpis lacinia euismod cursus in arcu.
                                            Integer a purus dolor. Pellentesque finibus ut erat in sagittis. Sed semper dignissim
                                        </div><!-- /.testimonials-one__item__content -->
                                        <div class="testimonials-one__item__author">
                                            <img src="assets/images/resources/testi-1-1.jpg" alt="growim">
                                            <h3 class="testimonials-one__item__name">
                                                Ronald Richards
                                            </h3>
                                            <p class="testimonials-one__item__designation">Co, Founder</p>
                                        </div><!-- /.testimonials-one__item__author -->
                                        <div class="testimonials-one__item__quote"><i class="flaticon-quote"></i></div><!-- /.testimonials-one__item__quote -->
                                    </div>
                                </div><!-- item -->
                            </div><!-- /.testimonials-one__carousel -->
                        </div>
                    </div>
                </div>
            </div><!-- /.container -->
        </section>
        <!-- /.testimonials-one -->