        <!-- why choose us start -->
         <section class="why-choose-four">
            <div class="why-choose-four__bg wow fadeInLeft" data-wow-delay="100ms" style="background-image: url(assets/images/shapes/why-choose-four-bg.png);"></div>
            <div class="why-choose-four__shape-one" style="background-image: url(assets/images/shapes/why-choose-four-shape-1.png);"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 d-flex align-items-end">
                        <div class="why-choose-four__image wow fadeInUp" data-wow-delay="300ms">
                            <img src="assets/images/resources/why-choose-4-1.png" alt="growim">
                        </div><!-- /.why-choose-four__image -->
                    </div>
                    <div class="col-lg-7 wow fadeInRight" data-wow-delay="200ms">
                        <div class="why-choose-four__content">
                            <div class="sec-title text-left">

                                <h6 class="sec-title__tagline">why choose us</h6><!-- /.sec-title__tagline -->

                                <h3 class="sec-title__title">We Prominent Truly Trusted Digital Solutions</h3><!-- /.sec-title__title -->
                            </div><!-- /.sec-title -->
                            <p class="why-choose-four__content__text">
                                It is a long established fact that a reader will be distracted the readable
                                content of a page when looking at layout the point.
                            </p>
                            <ul class="why-choose-four__list">
                                <li>
                                    <i class="flaticon-check"></i>
                                    Branding and design Identity
                                </li>
                                <li>
                                    <i class="flaticon-check"></i>
                                    24/7 system Monitoring
                                </li>
                                <li>
                                    <i class="flaticon-check"></i>
                                    Web site Marketing Solutions
                                </li>
                                <li>
                                    <i class="flaticon-check"></i>
                                    unlimited Download Data
                                </li>
                            </ul>
                            <div class="why-choose-four__progress">
                                <h4 class="why-choose-four__progress__title">Startup Consultancy</h4>
                                <div class="why-choose-four__progress__bar">
                                    <div class="why-choose-four__progress__inner count-bar" data-percent="86%">
                                        <div class="why-choose-four__progress__number count-text">86%</div>
                                    </div>
                                </div>
                            </div><!-- /.skills-item -->
                            <div class="why-choose-four__progress">
                                <h4 class="why-choose-four__progress__title">Smart AI Solutions</h4>
                                <div class="why-choose-four__progress__bar">
                                    <div class="why-choose-four__progress__inner count-bar" data-percent="90%">
                                        <div class="why-choose-four__progress__number count-text">90%</div>
                                    </div>
                                </div>
                            </div><!-- /.skills-item -->
                        </div><!-- /.why-choose-four__content -->
                    </div><!-- /.col-xl-6 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section>
       
        <!-- why choose us end -->