    <script src="{{ "assets/vendors/jquery/jquery-3.7.0.min.js" | relURL }}"></script>
<script src="{{ "assets/vendors/bootstrap/js/bootstrap.bundle.min.js" | relURL }}"></script>
<script src="{{ "assets/vendors/bootstrap-select/bootstrap-select.min.js" | relURL }}"></script>
<script src="{{ "assets/vendors/jarallax/jarallax.min.js" | relURL }}"></script>
<script src="{{ "assets/vendors/jquery-ui/jquery-ui.js" | relURL }}"></script>
<script src="{{ "assets/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js" | relURL }}"></script>
<script src="{{ "assets/vendors/jquery-appear/jquery.appear.min.js" | relURL }}"></script>
<script src="{{ "assets/vendors/jquery-circle-progress/jquery.circle-progress.min.js" | relURL }}"></script>
<script src="{{ "assets/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js" | relURL }}"></script>
<script src="{{ "assets/vendors/jquery-validate/jquery.validate.min.js" | relURL }}"></script>
<script src="{{ "assets/vendors/nouislider/nouislider.min.js" | relURL }}"></script>
<script src="{{ "assets/vendors/tiny-slider/tiny-slider.js" | relURL }}"></script>
<script src="{{ "assets/vendors/wnumb/wNumb.min.js" | relURL }}"></script>
<script src="{{ "assets/vendors/owl-carousel/js/owl.carousel.min.js" | relURL }}"></script>
<script src="{{ "assets/vendors/wow/wow.js" | relURL }}"></script>
<script src="{{ "assets/vendors/imagesloaded/imagesloaded.min.js" | relURL }}"></script>
<script src="{{ "assets/vendors/isotope/isotope.js" | relURL }}"></script>
<script src="{{ "assets/vendors/slick/slick.min.js" | relURL }}"></script>
<script src="{{ "assets/vendors/jquery-flipster-master/jquery.flipster.min.js" | relURL }}"></script>
<script src="{{ "assets/vendors/countdown/countdown.min.js" | relURL }}"></script>
<script src="{{ "assets/vendors/jquery-circleType/jquery.circleType.js" | relURL }}"></script>
<script src="{{ "assets/vendors/jquery-lettering/jquery.lettering.min.js" | relURL }}"></script>

<!-- template js -->
<script src="{{ "assets/js/growim.js" | relURL }}"></script>