<section class="main-slider-one">
    <div class="main-slider-one__carousel growim-owl__carousel--with-counter owl-carousel"
        data-owl-options='{
        "loop": true,
        "animateOut": "fadeOut",
        "animateIn": "fadeIn",
        "items": 1,
        "autoplay": true,
        "autoplayTimeout": 7000,
        "smartSpeed": 1000,
        "nav": true,
        "navText": ["<span class=\"flaticon-left-angle\"></span>","<span class=\"flaticon-right-angle\"></span>"],
        "dots": false,
        "margin": 0
    }'>

{{ range .Site.Data.slider.slides }}
<div class="item">
    <div class="main-slider-one__item">

        <div class="main-slider-one__bg"
            style="background-image: url({{ .bg }});"></div>

        <div class="main-slider-one__content">
            <h5 class="main-slider-one__sub-title">{{ .subtitle }}</h5>

            <h2 class="main-slider-one__title">{{ .title }}</h2>

            <p class="main-slider-one__text">
                {{ .text }}
            </p>

            <div class="main-slider-one__btn">
                <a class="growim-btn growim-btn--white" href="/services">
                    <span class="growim-btn__text">view services</span>
                    <span class="growim-btn__icon">
                        <i class="flaticon-up-right-arrow"></i>
                    </span>
                </a>
            </div>

            <a href="{{ .video }}" class="video-popup">
                <img src="assets/images/shapes/slider-1-shape-video.png" alt="">
                <span class="video-popup__icon">
                    <i class="fa fa-play"></i>
                    <span class="ripple"></span>
                </span>
                play reel
            </a>

        </div>
    </div>
</div>
{{ end }}

    </div>
</section>