<div class="custom-cursor__cursor"></div>
<div class="custom-cursor__cursor-two"></div>

<div class="preloader">
    <div class="preloader__image" style="background-image: url(assets/images/loader.png);"></div>
</div>
<!-- /.preloader -->
<div class="page-wrapper">
    <header class="main-header sticky-header sticky-header--normal">
        <div class="container-fluid">
            <div class="main-header__inner">
                <div class="main-header__logo">
                    <a href="{{ "/" | relURL }}">
                    
                        <img src="{{ "assets/images/brand logo.png" | relURL }}" alt="Growim" width="160">
                        <img src="{{ "assets/images/white logo.png" | relURL }}" alt="Growim" width="160">
                    </a>
                </div>

                <!-- /.main-header__logo -->
                <nav class="main-header__nav main-menu">
                    <ul class="main-menu__list">

                       <li>
<a href="{{ "/" | relURL }}">Home</a>
</li>

<li>
<a href="{{ "about" | relURL }}">About</a>
</li>

<li>
<a href="{{ "services" | relURL }}">Services</a>
</li>

<li>
<a href="{{ "portfolio" | relURL }}">Portfolio</a>
</li>

<li>
<a href="{{ "contact" | relURL }}">Contact</a>
</li>


                    </ul>
                </nav>
                
                <!-- /.main-header__nav -->
                <div class="main-header__right">
                    <div class="mobile-nav__btn mobile-nav__toggler">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    
                    <!-- /.mobile-nav__toggler -->
                    <!-- <a href="#" class="search-toggler main-header__search">
                        <i class="flaticon-search" aria-hidden="true"></i>
                        <span class="sr-only">Search</span>

                    </a> -->

                    <!-- /.search-toggler -->
                    <!-- <a href="cart.html" class="main-header__cart">
                        <i class="flaticon-cart" aria-hidden="true"></i>
                        <span class="sr-only">Search</span>

                    </a> -->
                    
                    <!-- /.search-toggler -->
                    <a href="{{ "contact" | relURL }}" class="growim-btn growim-btn--white main-header__btn">
                        <span class="growim-btn__text">Start A Project</span>
                    </a><!-- /.thm-btn main-header__btn -->
                </div><!-- /.main-header__right -->
            </div><!-- /.main-header__inner -->
        </div><!-- /.container-fluid -->
    </header><!-- /.main-header -->