        <!-- main-slider-start -->
        <section class="main-slider-one">
            <div class="main-slider-one__carousel growim-owl__carousel--with-counter owl-carousel" data-owl-options='{
		"loop": true,
		"animateOut": "fadeOut",
		"animateIn": "fadeIn",
		"items": 1,
		"autoplay": true,
		"autoplayTimeout": 7000,
		"smartSpeed": 1000,
		"nav": true,
        "navText": ["<span class=\"flaticon-left-angle\"></span>","<span class=\"flaticon-right-angle\"></span>"],
		"dots": false,
		"margin": 0
	    }'>
                <div class="item">
                    <div class="main-slider-one__item">
                        <div class="main-slider-one__bg" style="background-image: url(assets/images/backgrounds/slider-1-1.png);"></div>
                        <div class="main-slider-one__shape-one" style="background-image: url(assets/images/shapes/slider-1-shape-1.png);"></div>
                        <div class="main-slider-one__shape-two">
                            <img src="assets/images/shapes/slider-1-shape-2.png" alt="growim">
                        </div>
                        <div class="main-slider-one__shape-three">
                            <img src="assets/images/shapes/slider-1-shape-3.png" alt="growim">
                        </div>
                        <div class="main-slider-one__shape-four">
                            <img src="assets/images/shapes/slider-1-shape-4.png" alt="growim">
                        </div>
                        <div class="main-slider-one__shape-five">
                            <img src="assets/images/shapes/slider-1-shape-5.png" alt="growim">
                        </div>
                        <div class="main-slider-one__shape-six">
                            <img src="assets/images/shapes/slider-1-shape-6.png" alt="growim">
                        </div>
                        <div class="main-slider-one__shape-six">
                            <img src="assets/images/shapes/slider-1-shape-6.png" alt="growim">
                        </div>
                        <div class="main-slider-one__shape-seven">
                            <img src="assets/images/shapes/slider-1-shape-7.png" alt="growim">
                        </div>
                        <div class="main-slider-one__report">
                            <p class="main-slider-one__report__text">monthly traffic</p>
                            <h5 class="main-slider-one__report__number">220,342.76<span>+3.4%</span></h5>
                        </div>
                        <div class="main-slider-one__content">
                            <h5 class="main-slider-one__sub-title">go for advertising</h5>
                            <!-- slider-sub-title -->
                            <h2 class="main-slider-one__title">Think Digital</h2><!-- slider-title -->
                            <p class="main-slider-one__text">
                                There are many variations of passages of Lorem Ipsum available, but the majority<br> have suffered
                                alteration in some form, by injected humour, or randomised
                            </p><!-- slider-text -->
                            <div class="main-slider-one__btn">
                                <a class="growim-btn growim-btn--white" href="services.html">
                                    <span class="growim-btn__text">view services</span>
                                    <span class="growim-btn__icon"><i class="flaticon-up-right-arrow"></i></span>
                                </a>
                            </div><!-- slider-btn -->
                            <a href="https://www.youtube.com/watch?v=h9MbznbxlLc" class="video-popup">
                                <img src="assets/images/shapes/slider-1-shape-video.png" alt="growim">
                                <span class="video-popup__icon">
                                    <i class="fa fa-play"></i>
                                    <span class="ripple"></span>
                                </span>
                                play reel
                            </a><!-- video-btn -->
                        </div>
                    </div>
                </div><!-- item -->
                <div class="item">
                    <div class="main-slider-one__item">
                        <div class="main-slider-one__bg" style="background-image: url(assets/images/backgrounds/slider-1-1.png);"></div>
                        <div class="main-slider-one__shape-one" style="background-image: url(assets/images/shapes/slider-1-shape-1.png);"></div>
                        <div class="main-slider-one__shape-two">
                            <img src="assets/images/shapes/slider-1-shape-2.png" alt="growim">
                        </div>
                        <div class="main-slider-one__shape-three">
                            <img src="assets/images/shapes/slider-1-shape-3.png" alt="growim">
                        </div>
                        <div class="main-slider-one__shape-four">
                            <img src="assets/images/shapes/slider-1-shape-4.png" alt="growim">
                        </div>
                        <div class="main-slider-one__shape-five">
                            <img src="assets/images/shapes/slider-1-shape-5.png" alt="growim">
                        </div>
                        <div class="main-slider-one__shape-six">
                            <img src="assets/images/shapes/slider-1-shape-6.png" alt="growim">
                        </div>
                        <div class="main-slider-one__shape-six">
                            <img src="assets/images/shapes/slider-1-shape-6.png" alt="growim">
                        </div>
                        <div class="main-slider-one__shape-seven">
                            <img src="assets/images/shapes/slider-1-shape-7.png" alt="growim">
                        </div>
                        <div class="main-slider-one__report">
                            <p class="main-slider-one__report__text">monthly traffic</p>
                            <h5 class="main-slider-one__report__number">220,342.76<span>+3.4%</span></h5>
                        </div>
                        <div class="main-slider-one__content">
                            <h5 class="main-slider-one__sub-title">go for advertising</h5>
                            <!-- slider-sub-title -->
                            <h2 class="main-slider-one__title">Think Digital</h2><!-- slider-title -->
                            <p class="main-slider-one__text">
                                There are many variations of passages of Lorem Ipsum available, but the majority<br> have suffered
                                alteration in some form, by injected humour, or randomised
                            </p><!-- slider-text -->
                            <div class="main-slider-one__btn">
                                <a class="growim-btn growim-btn--white" href="services.html">
                                    <span class="growim-btn__text">view services</span>
                                    <span class="growim-btn__icon"><i class="flaticon-up-right-arrow"></i></span>
                                </a>
                            </div><!-- slider-btn -->
                            <a href="https://www.youtube.com/watch?v=h9MbznbxlLc" class="video-popup">
                                <img src="assets/images/shapes/slider-1-shape-video.png" alt="growim">
                                <span class="video-popup__icon">
                                    <i class="fa fa-play"></i>
                                    <span class="ripple"></span>
                                </span>
                                play reel
                            </a><!-- video-btn -->
                        </div>
                    </div>
                </div><!-- item -->
                <div class="item">
                    <div class="main-slider-one__item">
                        <div class="main-slider-one__bg" style="background-image: url(assets/images/backgrounds/slider-1-1.png);"></div>
                        <div class="main-slider-one__shape-one" style="background-image: url(assets/images/shapes/slider-1-shape-1.png);"></div>
                        <div class="main-slider-one__shape-two">
                            <img src="assets/images/shapes/slider-1-shape-2.png" alt="growim">
                        </div>
                        <div class="main-slider-one__shape-three">
                            <img src="assets/images/shapes/slider-1-shape-3.png" alt="growim">
                        </div>
                        <div class="main-slider-one__shape-four">
                            <img src="assets/images/shapes/slider-1-shape-4.png" alt="growim">
                        </div>
                        <div class="main-slider-one__shape-five">
                            <img src="assets/images/shapes/slider-1-shape-5.png" alt="growim">
                        </div>
                        <div class="main-slider-one__shape-six">
                            <img src="assets/images/shapes/slider-1-shape-6.png" alt="growim">
                        </div>
                        <div class="main-slider-one__shape-six">
                            <img src="assets/images/shapes/slider-1-shape-6.png" alt="growim">
                        </div>
                        <div class="main-slider-one__shape-seven">
                            <img src="assets/images/shapes/slider-1-shape-7.png" alt="growim">
                        </div>
                        <div class="main-slider-one__report">
                            <p class="main-slider-one__report__text">monthly traffic</p>
                            <h5 class="main-slider-one__report__number">220,342.76<span>+3.4%</span></h5>
                        </div>
                        <div class="main-slider-one__content">
                            <h5 class="main-slider-one__sub-title">go for advertising</h5>
                            <!-- slider-sub-title -->
                            <h2 class="main-slider-one__title">Think Digital</h2><!-- slider-title -->
                            <p class="main-slider-one__text">
                                There are many variations of passages of Lorem Ipsum available, but the majority<br> have suffered
                                alteration in some form, by injected humour, or randomised
                            </p><!-- slider-text -->
                            <div class="main-slider-one__btn">
                                <a class="growim-btn growim-btn--white" href="services.html">
                                    <span class="growim-btn__text">view services</span>
                                    <span class="growim-btn__icon"><i class="flaticon-up-right-arrow"></i></span>
                                </a>
                            </div><!-- slider-btn -->
                            <a href="https://www.youtube.com/watch?v=h9MbznbxlLc" class="video-popup">
                                <img src="assets/images/shapes/slider-1-shape-video.png" alt="growim">
                                <span class="video-popup__icon">
                                    <i class="fa fa-play"></i>
                                    <span class="ripple"></span>
                                </span>
                                play reel
                            </a><!-- video-btn -->
                        </div>
                    </div>
                </div><!-- item -->
            </div>
        </section>
        <!-- main-slider-end -->