<!-- main-slider-start -->
        <section class="main-banner-three">
            <div class="main-banner-three__bg" style="background-image: url(assets/images/shapes/main-banner-bg-3.png);"></div><!-- main-banner-three__bg -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8">
                        <h2 class="main-banner-three__title wow fadeInUp" data-wow-delay="10ms">
                            Results-Driven Digital Marketing Agency
                        </h2>
                    </div>
                    <div class="col-lg-4">
                        <div class="main-banner-three__right wow fadeInUp" data-wow-delay="200ms">
                            <p class="main-banner-three__text">
                                We help businesses grow faster <br> data-driven digital marketing strategies <br>from SEO and paid ads to social media and conversion optimization.
                            </p>
                            <div class="main-banner-three__btn wow fadeInUp" data-wow-delay="200ms">
                                <img src="{{ "/assets/images/shapes/banner-border-2.png" | relURL }}" alt="growim">
                                <a class="growim-btn" href="{{ "/services/" | relURL }}">
                                    <span class="growim-btn__text">Our Services</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-banner-three__image wow fadeInUp" data-wow-delay="350ms">
                    <div class="main-banner-three__image__border">
                        <img src="{{ "/assets/images/shapes/banner-image-border.png" | relURL }}" alt="growim">
                    </div>
                    <img src="{{ "/assets/images/backgrounds/banner-three.jpg" | relURL }}" alt="growim">
                    <div class="main-banner-three__image__clients wow fadeInUp" data-wow-delay="450ms">
                        <img src="{{ "/assets/images/resources/client-1-1.png" | relURL }}" alt="growim">
                        <img src="{{ "/assets/images/resources/client-1-2.png" | relURL }}" alt="growim">
                        <img src="{{ "/assets/images/resources/client-1-3.png" | relURL }}" alt="growim">
                        <img src="{{ "/assets/images/resources/client-1-4.png" | relURL }}" alt="growim">
                        <span>500+ Happy Clients</span>
                    </div>
                </div>
            </div>
        </section>
        <!-- main-slider-end -->