{{ define "main" }}



        {{ partial "navbarall.html" . }}

      <section class="page-header">
            <div class="page-header__bg"></div>
            <!-- /.page-header__bg -->
            <div class="container">
                <h2 class="page-header__title">Contact Us</h2>
                <ul class="growim-breadcrumb list-unstyled">
                    <li><a href="{{ "/" | relURL }}">Home</a></li>
                    <li><span>Contact Us</span></li>
                </ul><!-- /.thm-breadcrumb list-unstyled -->
            </div><!-- /.container -->
        </section><!-- /.page-header -->

        <section class="contact-two">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="contact-two__image">
                            <img src="{{ "assets/images/shapes/contact-page-1.png" | relURL }}" alt="growim">
                            <div class="contact-two__image__video">
                                <img src="{{ "assets/images/resources/contact-page-video.jpg" | relURL }}" alt="growim">
                                <a href="https://www.youtube.com/watch?v=h9MbznbxlLc" class="video-popup">
                                    <span class="ripple"></span>
                                    <i class="fa fa-play"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <!-- /.col-lg-6 -->
                    

                    {{ partial "form.html" . }}
                    <!-- /.col-lg-6 -->

                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.contact-two -->

        <section class="google-map">
            <div class="google-map__contact">
                <iframe title="template google map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4562.753041141002!2d-118.80123790098536!3d34.152323469614075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80e82469c2162619%3A0xba03efb7998eef6d!2sCostco+Wholesale!5e0!3m2!1sbn!2sbd!4v1562518641290!5m2!1sbn!2sbd" class="map__contact" allowfullscreen></iframe>
            </div>
            <!-- /.google-map -->
            <div class="google-map__wrapper">
                <div class="container">
                    <div class="google-map__info">
                        <h3 class="google-map__info__title">Contact Info</h3>
                        <ul class="list-unstyled google-map__info__list">
                            <li><i class="flaticon-pin"></i>{{ .Site.Data.social.contact.address }}</li>
                            <li><i class="flaticon-phone"></i><a href="tel:+{{ .Site.Data.social.contact.phone }}">{{ .Site.Data.social.contact.phone }}</a></li>
                            <li><i class="flaticon-email"></i><a href="mailto:{{ .Site.Data.social.contact.email }}">{{ .Site.Data.social.contact.email }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- /.google-map -->

       

        {{ partial "footer.html" . }}


        {{ partial "js.html" . }}






{{ end }}