{{ define "main" }}





    <div class="custom-cursor__cursor"></div>
    <div class="custom-cursor__cursor-two"></div>

    <div class="preloader">
        <div class="preloader__image" style="background-image: url(assets/images/loader.png);"></div>
    </div>
    <!-- /.preloader -->
    <div class="page-wrapper">
        <header class="main-header main-header--five sticky-header sticky-header--normal">
            <div class="container-fluid">
                <div class="main-header--five__inner">
                    <div class="topbar">
                        <ul class="list-unstyled topbar__info">
                            <li class="topbar__info__item">
                                <span class="topbar__info__icon"><i class="flaticon-phone"></i></span>
                                <a href="tel:+61086660112">+6108-666-0112</a>
                            </li>
                            <li class="topbar__info__item">
                                <span class="topbar__info__icon"><i class="flaticon-email"></i></span>
                                <a href="mailto:info@gmail.com">info@gmail.com</a>
                            </li>
                        </ul><!-- /.list-unstyled topbar-one__info -->
                        <div class="topbar__social">
                            <a href="https://facebook.com">
                                <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                <span class="sr-only">Facebook</span>
                            </a>
                            <a href="https://twitter.com">
                                <i class="fab fa-twitter" aria-hidden="true"></i>
                                <span class="sr-only">Twitter</span>
                            </a>
                            <a href="https://instagram.com">
                                <i class="fab fa-instagram" aria-hidden="true"></i>
                                <span class="sr-only">Instagram</span>
                            </a>
                            <a href="https://www.youtube.com/">
                                <i class="fab fa-youtube" aria-hidden="true"></i>
                                <span class="sr-only">Youtube</span>
                            </a>
                        </div><!-- /.topbar__social -->
                    </div>
                    <div class="main-header__inner">
                        <div class="main-header__logo">
                            <a href="index.html">
                                <img src="{{ "assets/images/icon b black.png" | relURL }}" alt="Growim HTML" width="160">
                            </a>
                        </div><!-- /.main-header__logo -->
                        <nav class="main-header__nav main-menu">
                            <ul class="main-menu__list">


                                <li class="megamenu megamenu-clickable megamenu-clickable--toggler">
                                    <a href="index.html">Demos</a>
                                    <ul>
                                        <li>
                                            <div class="megamenu-popup">
                                                <a href="#" class="megamenu-clickable--close"><span class="icon-close"></span></a>
                                                <!-- /.megamenu-clickable--close -->
                                                <div class="megamenu-popup__content">
                                                    <div class="demo-one">
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col-md-6 col-lg-4">
                                                                    <div class="demo-one__card">
                                                                        <div class="demo-one__image">
                                                                            <img src="{{ "assets/images/growim-landing/home-1.jpg" | relURL }}" alt="growim">
                                                                            <div class="demo-one__btns">
                                                                                <a href="index.html" class="growim-btn demo-one__btn">
                                                                                    <span class="growim-btn__text">Multi Page</span>
                                                                                </a><!-- /.thm-btn demo-one__btn -->
                                                                                <a href="index-one-page.html" class="growim-btn demo-one__btn">
                                                                                    <span class="growim-btn__text">One Page</span>
                                                                                </a><!-- /.thm-btn demo-one__btn -->
                                                                            </div><!-- /.demo-one__btns -->
                                                                        </div><!-- /.demo-one__image -->
                                                                        <div class="demo-one__content">
                                                                            <h3 class="demo-one__title">
                                                                                <a href="index.html">Home Page 01</a>
                                                                            </h3><!-- /.demo-one__title -->
                                                                        </div><!-- /.demo-one__content -->
                                                                    </div><!-- /.demo-one__card -->
                                                                </div><!-- /.col-md-6 col-lg-3 -->
                                                                <div class="col-md-6 col-lg-4">
                                                                    <div class="demo-one__card">
                                                                        <div class="demo-one__image">
                                                                            <img src="{{ "assets/images/growim-landing/home-2.jpg" | relURL }}" alt="growim">
                                                                            <div class="demo-one__btns">
                                                                                <a href="index-2.html" class="growim-btn demo-one__btn">
                                                                                    <span class="growim-btn__text">Multi Page</span>
                                                                                </a><!-- /.thm-btn demo-one__btn -->
                                                                                <a href="index-2-one-page.html" class="growim-btn demo-one__btn">
                                                                                    <span class="growim-btn__text">One Page</span>
                                                                                </a><!-- /.thm-btn demo-one__btn -->
                                                                            </div><!-- /.demo-one__btns -->
                                                                        </div><!-- /.demo-one__image -->
                                                                        <div class="demo-one__content">
                                                                            <h3 class="demo-one__title">
                                                                                <a href="index-2.html">Home Page 02</a>
                                                                            </h3><!-- /.demo-one__title -->
                                                                        </div><!-- /.demo-one__content -->
                                                                    </div><!-- /.demo-one__card -->
                                                                </div><!-- /.col-md-6 col-lg-3 -->
                                                                <div class="col-md-6 col-lg-4">
                                                                    <div class="demo-one__card">
                                                                        <div class="demo-one__image">
                                                                            <img src="{{ "assets/images/growim-landing/home-3.jpg" | relURL }}" alt="growim">
                                                                            <div class="demo-one__btns">
                                                                                <a href="index-3.html" class="growim-btn demo-one__btn">
                                                                                    <span class="growim-btn__text">Multi Page</span>
                                                                                </a><!-- /.thm-btn demo-one__btn -->
                                                                                <a href="index-3-one-page.html" class="growim-btn demo-one__btn">
                                                                                    <span class="growim-btn__text">One Page</span>
                                                                                </a><!-- /.thm-btn demo-one__btn -->
                                                                            </div><!-- /.demo-one__btns -->
                                                                        </div><!-- /.demo-one__image -->
                                                                        <div class="demo-one__content">
                                                                            <h3 class="demo-one__title">
                                                                                <a href="index-3.html">Home Page 03</a>
                                                                            </h3><!-- /.demo-one__title -->
                                                                        </div><!-- /.demo-one__content -->
                                                                    </div><!-- /.demo-one__card -->
                                                                </div><!-- /.col-md-6 col-lg-3 -->
                                                                <div class="col-md-6 col-lg-4">
                                                                    <div class="demo-one__card">
                                                                        <div class="demo-one__image">
                                                                            <img src="{{ "assets/images/growim-landing/home-4.jpg" | relURL }}" alt="growim">
                                                                            <div class="demo-one__btns">
                                                                                <a href="index-4.html" class="growim-btn demo-one__btn">
                                                                                    <span class="growim-btn__text">Multi Page</span>
                                                                                </a><!-- /.thm-btn demo-one__btn -->
                                                                                <a href="index-4-one-page.html" class="growim-btn demo-one__btn">
                                                                                    <span class="growim-btn__text">One Page</span>
                                                                                </a><!-- /.thm-btn demo-one__btn -->
                                                                            </div><!-- /.demo-one__btns -->
                                                                        </div><!-- /.demo-one__image -->
                                                                        <div class="demo-one__content">
                                                                            <h3 class="demo-one__title">
                                                                                <a href="index-4.html">Home Page 04</a>
                                                                            </h3><!-- /.demo-one__title -->
                                                                        </div><!-- /.demo-one__content -->
                                                                    </div><!-- /.demo-one__card -->
                                                                </div><!-- /.col-md-6 col-lg-3 -->
                                                                <div class="col-md-6 col-lg-4">
                                                                    <div class="demo-one__card">
                                                                        <div class="demo-one__image">
                                                                            <img src="{{ "assets/images/growim-landing/home-5.jpg" | relURL }}" alt="growim">
                                                                            <div class="demo-one__btns">
                                                                                <a href="index-5.html" class="growim-btn demo-one__btn">
                                                                                    <span class="growim-btn__text">Multi Page</span>
                                                                                </a><!-- /.thm-btn demo-one__btn -->
                                                                                <a href="index-5-one-page.html" class="growim-btn demo-one__btn">
                                                                                    <span class="growim-btn__text">One Page</span>
                                                                                </a><!-- /.thm-btn demo-one__btn -->
                                                                            </div><!-- /.demo-one__btns -->
                                                                        </div><!-- /.demo-one__image -->
                                                                        <div class="demo-one__content">
                                                                            <h3 class="demo-one__title">
                                                                                <a href="index-5.html">Home Page 05</a>
                                                                            </h3><!-- /.demo-one__title -->
                                                                        </div><!-- /.demo-one__content -->
                                                                    </div><!-- /.demo-one__card -->
                                                                </div><!-- /.col-md-6 col-lg-3 -->
                                                            </div><!-- /.row -->
                                                        </div><!-- /.container -->
                                                    </div><!-- /.demos-one -->
                                                </div><!-- /.megamenu-popup__content -->
                                            </div><!-- /.megamenu-popup -->
                                        </li>
                                    </ul>
                                </li>


                                <li>
                                    <a href="about.html">About</a>
                                </li>
                                <li class="dropdown">
                                    <a href="#">Pages</a>
                                    <ul>
                                        <li class="dropdown">
                                            <a href="#">Portfolio Page</a>
                                            <ul class="sub-menu">
                                                <li><a href="portfolio.html">Our Portfolio</a></li>
                                                <li><a href="portfolio-details.html">Portfolio Details</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#">Team Page</a>
                                            <ul class="sub-menu">
                                                <li><a href="team.html">Our Team</a></li>
                                                <li><a href="team-details.html">Team Details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="faq.html">FAQs</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#">Services</a>
                                    <ul>
                                        <li><a href="services.html">Service Page</a></li>
                                        <li><a href="service-details.html">Service Details</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#">Shop</a>
                                    <ul class="sub-menu">
                                        <li><a href="products.html">Products Page</a></li>
                                        <li><a href="product-details.html">Product details</a></li>
                                        <li><a href="cart.html">Cart</a></li>
                                        <li><a href="checkout.html">Checkout</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#">News</a>
                                    <ul class="sub-menu">
                                        <li><a href="blog-grid.html">Blog Grid</a></li>
                                        <li><a href="blog-list-right.html">Blog Standar</a></li>
                                        <li><a href="blog-details-right.html">Blog Details</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="contact.html">Contact</a>
                                </li>
                            </ul>
                        </nav><!-- /.main-header__nav -->
                        <div class="main-header__right">
                            <div class="mobile-nav__btn mobile-nav__toggler">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div><!-- /.mobile-nav__toggler -->
                            <a href="#" class="search-toggler main-header__search">
                                <i class="flaticon-search" aria-hidden="true"></i>
                                <span class="sr-only">Search</span>
                            </a><!-- /.search-toggler -->
                            <a href="cart.html" class="main-header__cart">
                                <i class="flaticon-cart" aria-hidden="true"></i>
                                <span class="sr-only">Search</span>
                            </a><!-- /.search-toggler -->
                            <a href="contact.html" class="growim-btn main-header__btn">
                                <span class="growim-btn__text">Work With Us</span>
                            </a><!-- /.main-header__btn -->
                        </div><!-- /.main-header__right -->
                    </div><!-- /.main-header__inner -->
                </div>
            </div><!-- /.container-fluid -->
        </header><!-- /.main-header -->
        <section class="page-header">
            <div class="page-header__bg"></div>
            <!-- /.page-header__bg -->
            <div class="container">
                <h2 class="page-header__title">Contact Us</h2>
                <ul class="growim-breadcrumb list-unstyled">
                    <li><a href="index.html">Home</a></li>
                    <li><span>Contact Us</span></li>
                </ul><!-- /.thm-breadcrumb list-unstyled -->
            </div><!-- /.container -->
        </section><!-- /.page-header -->

        <section class="contact-two">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="contact-two__image">
                            <img src="{{ "assets/images/shapes/contact-page-1.png" | relURL }}" alt="growim">
                            <div class="contact-two__image__video">
                                <img src="{{ "assets/images/resources/contact-page-video.jpg" | relURL }}" alt="growim">
                                <a href="https://www.youtube.com/watch?v=h9MbznbxlLc" class="video-popup">
                                    <span class="ripple"></span>
                                    <i class="fa fa-play"></i>
                                </a>
                            </div>
                        </div>
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="contact-two__content">
                            <h3 class="contact-two__title">We'll respond to you in an hour.</h3>
                            <p class="contact-two__text">Neque porro est qui dolorem ipsum quia quaed inventor veritatis et</p>
                            <form class="contact-two__form contact-form-validated form-one wow fadeInUp" data-wow-duration="1500ms" action="inc/sendemail.php">
                                <h4 class="contact-two__form__title">Get In touch</h4>
                                <div class="form-one__group">
                                    <div class="form-one__control">
                                        <input type="text" name="name" placeholder="Name">
                                    </div><!-- /.form-one__control -->
                                    <div class="form-one__control">
                                        <input type="email" name="email" placeholder="Email Address">
                                    </div><!-- /.form-one__control -->
                                    <div class="form-one__control form-one__control--full">
                                        <textarea name="message" placeholder="Write Message . . ."></textarea><!-- /# -->
                                    </div><!-- /.form-one__control -->
                                    <div class="form-one__control form-one__control--full">
                                        <button class="growim-btn" type="submit"><span class="growim-btn__text">Send Message</span><span class="growim-btn__icon"><i class="flaticon-up-right-arrow"></i></span></button>
                                    </div><!-- /.form-one__control -->
                                </div><!-- /.form-one__group -->
                            </form>
                        </div>
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.contact-two -->

        <section class="google-map">
            <div class="google-map__contact">
                <iframe title="template google map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4562.753041141002!2d-118.80123790098536!3d34.152323469614075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80e82469c2162619%3A0xba03efb7998eef6d!2sCostco+Wholesale!5e0!3m2!1sbn!2sbd!4v1562518641290!5m2!1sbn!2sbd" class="map__contact" allowfullscreen></iframe>
            </div>
            <!-- /.google-map -->
            <div class="google-map__wrapper">
                <div class="container">
                    <div class="google-map__info">
                        <h3 class="google-map__info__title">Contact Info</h3>
                        <ul class="list-unstyled google-map__info__list">
                            <li><i class="flaticon-pin"></i>Gregory Cartwright, 4059 Carling Avenue, Ugglebarnby</li>
                            <li><i class="flaticon-phone"></i><a href="tel:+61086660112">+6108-666-0112</a></li>
                            <li><i class="flaticon-email"></i><a href="mailto:info@gmail.com">info@gmail.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section><!-- /.google-map -->

        <section class="mail-section mail-section--inner">
            <div class="container">
                <div class="mail-section__inner  wow fadeInUp">
                    <div class="mail-section__shape-one" style="background-image: url(assets/images/shapes/mail-shape-1.png);"></div>
                    <div class="mail-section__shape-two" style="background-image: url(assets/images/shapes/mail-shape-2.png);"></div>
                    <div class="mail-section__shape-three" style="background-image: url(assets/images/shapes/mail-shape-3.png);"></div>
                    <div class="mail-section__shape-four" style="background-image: url(assets/images/shapes/mail-shape-4.png);"></div>
                    <div class="row">
                        <div class="col-lg-5 col-xl-6">
                            <div class="mail-section__image">
                                <img src="{{ "assets/images/resources/mail-1-1.png" | relURL }}" alt="Growim">
                            </div>
                        </div>
                        <div class="col-lg-7 col-xl-6">
                            <div class="mail-section__form">
                                <h3 class="mail-section__form__title">Subscribe To Our Newsletter!</h3>
                                <form action="#" data-url="MAILCHIMP_FORM_URL" class="mc-form">
                                    <input type="text" name="EMAIL" placeholder="Enter Email Address">
                                    <button type="submit" class="flaticon-paper-plan">
                                        <span class="sr-only">submit</span><!-- /.sr-only -->
                                    </button>
                                </form><!-- /. mc-form -->
                                <div class="mc-form__response"></div><!-- /.mc-form__response -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="main-footer main-footer--home-five">
            <div class="main-footer__bg" style="background-image: url(assets/images/shapes/footer-bg-1-1.png);"></div>
            <div class="main-footer__shape" style="background-image: url(assets/images/shapes/footer-1-shape-1.png);"></div>
            <!-- /.main-footer__bg -->

           {{ partial "footer.html" . }}


    <script src="assets/vendors/jquery/jquery-3.7.0.min.js"></script>
    <script src="assets/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendors/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="assets/vendors/jarallax/jarallax.min.js"></script>
    <script src="assets/vendors/jquery-ui/jquery-ui.js"></script>
    <script src="assets/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
    <script src="assets/vendors/jquery-appear/jquery.appear.min.js"></script>
    <script src="assets/vendors/jquery-circle-progress/jquery.circle-progress.min.js"></script>
    <script src="assets/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="assets/vendors/jquery-validate/jquery.validate.min.js"></script>
    <script src="assets/vendors/nouislider/nouislider.min.js"></script>
    <script src="assets/vendors/tiny-slider/tiny-slider.js"></script>
    <script src="assets/vendors/wnumb/wNumb.min.js"></script>
    <script src="assets/vendors/owl-carousel/js/owl.carousel.min.js"></script>
    <script src="assets/vendors/wow/wow.js"></script>
    <script src="assets/vendors/imagesloaded/imagesloaded.min.js"></script>
    <script src="assets/vendors/isotope/isotope.js"></script>
    <script src="assets/vendors/slick/slick.min.js"></script>
    <script src="assets/vendors/jquery-flipster-master/jquery.flipster.min.js"></script>
    <script src="assets/vendors/countdown/countdown.min.js"></script>
    <script src="assets/vendors/jquery-circleType/jquery.circleType.js"></script>
    <script src="assets/vendors/jquery-lettering/jquery.lettering.min.js"></script>
    <!-- template js -->
    <script src="assets/js/growim.js"></script>






{{ end }}