{{ define "main" }}

    <!-- navber start -->
       {{ partial "navbarall.html" . }}
    <!-- navber end -->


        <!-- main-slider-start -->
      {{ partial "static-slider.html" . }}
        <!-- main-slider-end -->

        <!-- partner start -->
        {{ partial "home-section/partners.html" . }}    
        <!-- partner end -->

        <!-- Portfolio showcase marquee -->
        {{ partial "home-section/portfolio-showcase.html" . }}
        <!-- Portfolio showcase end -->

        <!-- Service Start -->
        {{ partial "home-section/services.html" . }}
        <!-- Service End -->

        <!-- serv clientK Start -->
        {{ partial "home-section/satisfied-client.html" . }}
        <!-- serv client end -->

        <!-- AI Video Content start -->
        {{ partial "home-section/ai-videos.html" . }}
        <!-- AI Video Content end -->

        <!-- about us -->

        {{ partial "home-section/about-us.html" . }}
        
        <!-- /.about-one -->

        <!-- why choose us start -->
        {{ partial "home-section/why-choose-us.html" . }}
        <!-- why choose us end -->

        <!-- pricing start -->
        {{ partial "home-section/pricing.html" . }}
        <!-- /.package-one -->

            <!-- team start -->
            {{ partial "home-section/team.html" . }}
        
        <!-- /.team-one -->

        <!-- testimonials start -->
        {{ partial "home-section/testimonials.html" . }}
        <!-- /.testimonials-one -->

        <!-- BRANDING slid e start -->
        {{ partial "home-section/branding-slide.html" . }}
        <!-- BRANDING slide end -->


        <!-- blog start -->
        {{ partial "home-section/blog.html" . }}
        <!-- /.blog-one -->



            <!-- foorter start -->
            {{ partial "footer.html" . }}
            <!-- foorter end -->

{{ end }}